<!DOCTYPE html>
<html>
  <head>
    <!-- CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link rel='stylesheet' href='../css/main.css'>
  </head>
    <body>
    <% include ../partials/nav.ejs%>
      <div class="container">
        <h1>Welcome to Brew View</h1>
       <%=brew.name%>
       <!-- messages -->
      <div class="main-messages">
        <!-- post a new message form -->
        <%if(currentUser) {%>

        <h3><%=currentUser%></h3>
        <h1>Add a Review</h1>
        <form class="new-reviews" action="/reviews/<%=brew.id%>/new" method="post">
          <textarea name="review" placeholder="Add A REVIEW..."></textarea>
          <input type="submit" value="POST">
        </form>
        <%}%>

          <!--------Above section allows only logged in users to submit a review----->


        <!-- displays all messages -->
        <h1>Other Reviews</h1>
        <%# need to loop through the comments array %>
        <div class='comments'>
      <%brew.comments.forEach((review, key) => { %>
        <%=review.username%>: <%=review.userComments%>
        </br>
      <%})%>
        </div>
        </div>
       
       
       </div>

          </div>
        
        </div>
    </body>
</html>