<!DOCTYPE html>
<html>
  <head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <!-- Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- main js -->
  <script src='/js/main.js'> </script>
    <!-- CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel='stylesheet' href='/css/main.css'>
     
  </head>
    <body>
    <% include ../partials/nav.ejs%>
      <div class="container">
        <%# <h1>Welcome to Brew View</h1> %>
        <%# Somehwere in here it makes sense to keep Brewview %>
       <div class='main-content'>
       <h2 class='mainHeaderClass'><%=brew.name%></h2>
       <% if(currentUser === 'TestUser1') {%>
       <div class='row'>
       <div class='col s2'>
       <a href='/brew/<%=brew.id%>/edit'><button class='btn'>Edit</button></a>
       </div>
       <div class='col s2'>
       <form action="/brew/<%=brew.id; %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE" class='btn'/>
        </form>
        </div>
        </div>
       <%}%>
       <%# include stuff like address, number etc %>
       <div class='row'>
       <div class='col s12'>
       Website: <a href='<%=brew.website%>'><%=brew.website%></a>
       </div>
       <div class='col s6'>
       <p>
       
       <%=brew.address%> </br>
       <%=brew.city%>, <%=brew.state%> <%=brew.zip%> </br>
       <strong>Contact Info:</strong> </br>
       Phone: <%=brew.phone%> </br>
       Email: <%=brew.email%>
       </p>
       </div>
       
       <div class='row'>
       <div class='col s6'>
       <p>
       Dogs: <%=brew.dogFriendly%> </br>
       Food Trucks: <%=brew.foodTrucks%> </br>
       Outside Food Allowed: <%=brew.outsideFood%> </br>
       GF Options: <%=brew.glutenFree%> </br>
       </p>
       </div>
       </div>
       </div>
       <div class='picCarousel'>
       <%# this will be a carousel of the pictures %>
         <div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
      <%# <a class="btn waves-effect white grey-text darken-text-2">button</a> %>
    </div>
    <div class="carousel-item" href="#one!">
      <%# <h2>First Panel</h2> %>
      <%# mainImage, imageTwo, imageThree, imageFour - need to do an if else for each one, if main image = ''  %>
      <% if (brew.mainImage === '') {%>
      <img src='https://static.vinepair.com/wp-content/uploads/2017/11/tree-house-brewing-facts-inside.jpg'>
      <% } else {%>
        <img src="<%=brew.mainImage%>" alt="<%=brew.name%>">

      <% } %>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
    <% if (brew.imageTwo === '') {%>
      <img src='https://thefullpint.com/wp-content/uploads/trillium_little_rooster.jpg'>
      <% } else {%>
        <img src="<%=brew.imageTwo%>" alt="<%=brew.name%>">

      <% } %>
    </div>
    <div class="carousel-item" href="#two!">
    <% if (brew.imageThree === '') {%>
      <img src='https://thefullpint.com/wp-content/uploads/trillium_little_rooster.jpg'>
      <% } else {%>
        <img src="<%=brew.imageThree%>" alt="<%=brew.name%>">

      <% } %>
    </div>
     <% if (brew.imageFour === '') {%>
    <% } else {%>
    <div class="carousel-item" href="#three!">
        <img src="<%=brew.imageFour%>" alt="<%=brew.name%>">

      <% } %>
    </div>
  </div>
       </div>
       <!-- messages -->
      <div class="main-messages">
        <!-- post a new message form -->
        <%if(currentUser) {%>

        
        <h5 class='mainHeaderClass'>Write a review</h5>
        <form class="new-reviews" action="/reviews/<%=brew.id%>/new" method="post">
          <textarea name="review" placeholder="Add a review..." class='reviewInputBox'></textarea>
          <input class = 'btn' type="submit" value='Post'>
        </form>
        <%}%>

          <!--------Above section allows only logged in users to submit a review----->



        <!-- displays all messages -->
        <h5 class='mainHeaderClass'>Reviews</h5>

    

      <%for (let i = brew.comments.length-1; i >= 0; i--) {%>
<div class='row'>
      <div class="chip">
      <%=brew.comments[i].username%>: 
    </div>
    <div>
        <%=brew.comments[i].userComments%>
        </div>
        </div>
      

      <%}%>
        </div>
        </div>
       
       
       </div>

          </div>
        
        </div>
      <% include ../partials/autocomplete.ejs%>
    </body>
</html>