<!DOCTYPE html>
<html>
  <head>
    <title>CT Brewery Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
     <!-- Jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <!-- Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- main js -->
  <script src='/js/main.js'> </script>
    <!-- CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel='stylesheet' href='/css/main.css'>
    <style>
      
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
  <% include ./partials/nav.ejs%>
  <div class='container mapContainer'>
  <div class='centerHeader'>
  <h3 class='mainHeaderClass'>BrewView's Featured Breweries</h3>
  </div>
    <div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
      <%# <a class="btn waves-effect white grey-text darken-text-2">button</a> %>
    </div>
    <div class="carousel-item" href="#one!">
      <%# <h2>First Panel</h2> %>
      <img src='https://static.vinepair.com/wp-content/uploads/2017/11/tree-house-brewing-facts-inside.jpg'>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <img src='https://thefullpint.com/wp-content/uploads/trillium_little_rooster.jpg'>>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <img src='https://static.wixstatic.com/media/f4db69_7568fadaf1854092bb31f7948458cf56.png/v1/fill/w_265,h_265,al_c,usm_0.66_1.00_0.01/f4db69_7568fadaf1854092bb31f7948458cf56.png'>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <img src='https://craftpeak-cooler-images.imgix.net/half-full-brewery/favicon-01.png?auto=compress%2Cformat&ixlib=php-1.2.1'>
    </div>
  </div>
    <div id="map"></div>
  </div>
    <script>


      function initMap() {
        var myLatLng = {lat: 41.55, lng: -72.7};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 9,
          center: myLatLng
        });

        ////////basically here I need to make a loop to loop thru DB and create the markers - This all works = ocuple issues - pop up not working at the moment - would like to get content string to display as an info window the logic in it is currently wrong, should be fixable.  Also should add in if statement to weed out stuff with out a lat/long.  google maps wont load at all if one of them is busted
let marker, i;
let contentString = ''
let infowindow = ''
let breweryLoc = {lat: 0, lng: 0}

        <%for (let i = 0; i < brews.length; i++) {%>
        <%if(brews[i].latitude && brews[i].longitude) { %>
        
          contentString = '<div class="content">'+'<p><%=brews[i].name%></p>'+'<a href="brew/<%=brews[i].id%>">More Info</a>'+'</div>'
          // breweryLoc = {lat: <%=brews[i].latitude%>, lng: <%=brews[i].longitude%>}
         
          
    
        marker = new google.maps.Marker({
          position: {lat: <%=brews[i].latitude%>, lng: <%=brews[i].longitude%>},
          map: map,
          title: '<%=brews[i].name%>',
          stuff: 'blah blah',
         
        
        })
        infowindow = new google.maps.InfoWindow({
            content: contentString,
          })
          marker.infowindow = infowindow

        // doing it this way all of the infowindows are going to the the woodbury locations
          // infowindow.setContent(contentString)
          // infowindow.setPosition(marker.position)
        marker.addListener('click', function(){
          // let infowindow = new google.maps.InfoWindow({
            //     content: this.title
                    
                // })
                // console.log(this.title)
                // infowindow.open(event.currentTarget.get('map'), event.currentTarget)
                // alert(stuff)
                // let infowindow = new google.maps.InfoWindow()
                // infowindow.setContent('words')
                // infowindow.open(map,this)
                // window.location.href = '/brew/<%=brews[i].id%>'
          // console.log(breweryLoc)

                 
                
                this.infowindow.open(map, this)


                
        })



<%}%>
  <%}%>      

    
        
      }
    </script>
    <% include ./partials/autocomplete.ejs%>
    <script src=<%=googleURL%>
    async defer></script>
  </body>
</html>